body {
    background: url(../img/impostor_factory.jpg);
}

.trailer{
    height: max-content;
    background: rgb(41,3,59);
    background: linear-gradient(180deg, rgba(41,3,59,1) 0%, rgba(68,24,88,1) 100%);
}

.about{
    height: max-content;
    background: rgb(68,24,88);
    background: linear-gradient(180deg, rgba(68,24,88,1) 0%, rgba(6,7,32,1) 100%);
}